<div>
  <!-- Loading spinner -->
  <div *ngIf="loading" class="text-center my-3">
    <mat-spinner diameter="40" class="mx-auto"></mat-spinner>
    <p class="mt-2">Loading scenes...</p>
  </div>

  <!-- Error message -->
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <!-- Add Scene Button -->
  <!-- <div class="mb-3">
    <button mat-raised-button color="primary" (click)="openNewSceneModal()">
      <mat-icon>add</mat-icon> Add New Scene
    </button>
  </div> -->
  <div *ngFor="let scene of scenes" >
    <ng-container *ngIf="scene.is_active">

      <ul class="breakdown-rows scene-row" >
        <li style="width: 2%;">
          <input
            type="checkbox"
            class="shot-checkbox individual-scene-checkbox"
            [id]="'check-scene-' + scene.id"
            [name]="'check-scene-' + scene.id"
            [value]="scene.id"
            [attr.data-scene-id]="scene.id"
            [attr.data-sequence-id]="scene.sequenceId">
        </li>
        <a
          style="width: 8%;"
          class="table-collapse-btn"
          data-bs-toggle="collapse"
          [href]="'#collapse-scene-' + scene.id"
          role="button"
          aria-expanded="false"
          [attr.aria-controls]="'collapse-scene-' + scene.id">
          <li><h6>{{ sequencePrefix }}:{{ scene.number }}</h6></li>
        </a>
        <li style="width: 5%;">
          <button
            type="button"
            class="btn-transparent"
            title="Scene"
            data-bs-toggle="tooltip">
            <i class="bi bi-film"></i>
          </button>
        </li>
        <li style="width: 5%;">
          {{ scene.int_ext === 'interior' ? 'Int - ' : 'Ext - ' }}
        </li>
        <li
          style="width: 20%;"
          class="inline-cell scene-location"
          [attr.data-scene-id]="scene.id"
          [id]="'scene-location-' + scene.id">
            {{ scene.location }}
        </li>
        <li style="width: 15%;">
          <i class="bi bi-brightness-alt-high-fill"></i> {{ scene.day_night }}
        </li>
        <li style="width: 5%;">
          <!-- Character dropdown -->
          <button mat-button [matMenuTriggerFor]="characterMenu"
                  (click)="selectedSceneForCharacters = scene">
            <i class="bi bi-person-fill"></i>
            {{ getSceneCharacterCount(scene.id) }}
          </button>

          <mat-menu #characterMenu="matMenu">
            <div mat-menu-item *ngFor="let c of getSceneCharacters(selectedSceneForCharacters?.id)" disabled>
              {{ c.full_name }}
            </div>
            <div mat-menu-item *ngIf="getSceneCharacterCount(selectedSceneForCharacters?.id) === 0" disabled>
              <em>No characters</em>
            </div>
          </mat-menu>
        </li>
        <li style="width: 20%;">
        </li>
        <li style="width: 5%;">
          <div class="scene-length">
            {{ scene.length }}
          </div>
          <div class="scene-length-corner"></div>
          <div class="scene-length-fold"></div>
        </li>
        <li style="width: 7%;">
          <!-- version dropdown -->
          <button mat-button [matMenuTriggerFor]="versionMenu">
            <span class="swatch" [style.backgroundColor]="getActiveVersion(scene)?.color">
            </span>
            v{{ getActiveVersion(scene)?.version_number }}
          </button>

          <mat-menu #versionMenu="matMenu">
            <button mat-menu-item *ngFor="let v of versionsMap[scene.number]" (click)="switchVersion(scene, v.id!.toString())">
              <span class="swatch" [style.backgroundColor]="v.color"></span>
              v{{ v.version_number }}
            </button>
          </mat-menu>
        </li>
        <li style="width: 3%;">
          <div class="scene-color" [style.background-color]="scene.color"></div>
        </li>
        <li style="width: 5%;">
          <app-crud-dropdown
            [entityLabel]="'Scene'"
            [elementId]="scene.id || 0"
            [addLabel]="'Add New Action Beat'"
            (add)="openNewActionBeatModal(scene.id!)"
            (edit)="openEditModal(scene)"
            (version)="openNewVersionModal(scene)"
            (delete)="deleteScene(scene.id!)">
          </app-crud-dropdown>
        </li>
      </ul>
      <div
        class="collapse row-collapse"
        [id]="'collapse-scene-' + scene.id" >
        <app-action-beat-list
          [sceneId]="scene.id!"
          [sceneNumber]="scene.number"
          [sequenceId]="sequenceId"
          [sequencePrefix]="sequencePrefix"
          [productionId]="productionId">
        </app-action-beat-list>
      </div>
    </ng-container>
  </div>



  <p *ngIf="scenes.length === 0 && !loading" class="text-center">No scenes available for this sequence.</p>

  <!-- Edit Scene Modal -->
  <app-modal [title]="'Edit Scene'" [isOpen]="showEditModal" (close)="showEditModal = false">
    <app-scene-edit
      [scene]="selectedElement"
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      (sceneUpdated)="onSceneUpdated()">
    </app-scene-edit>
  </app-modal>

  <!-- New Scene Modal -->
  <app-modal [title]="'Add New Scene'" [isOpen]="showNewSceneModal" (close)="closeNewSceneModal()">
    <app-scene-new
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      (sceneCreated)="onSceneCreated()">
    </app-scene-new>
  </app-modal>

  <!-- New Scene Version Modal -->
  <app-modal [title]="'New Version of Scene ' + selectedScene?.number" [isOpen]="showNewVersionModal"
    (close)="showNewVersionModal = false">
    <app-scene-version
      [scene]="selectedScene!"
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      (versionCreated)="onVersionCreated()">
    </app-scene-version>
  </app-modal>

</div>
