<div class="sticky-buttons">
  <button class="btn btn-primary" (click)="toggleAll()">Open All</button>
  <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSequenceModal">Add Sequence</button> -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-sequence-modal">
    <i class="bi bi-plus-circle"></i> Create Sequence
  </button> -->
  <button class="btn btn-primary" (click)="openModal()">New Sequence</button>
  <button class="btn btn-primary" id="generateShotsBtn">Generate Shots</button>
  <button class="btn btn-primary" id="generateAssumptionsBtn">Generate VFX Assumptions</button>
  <button class="btn btn-primary" id="generateCostEstimatesBtn">Generate Cost Estimates</button>
  <input class="form-control search-bar" id="shot-filtering-breakdown" placeholder="Search…">
</div>

<app-modal [title]="'Add New Sequence'" [isOpen]="isModalOpen" (close)="closeModal()">
  <app-sequence-new
    [productionId]="productionId"
    (sequenceCreated)="onSequenceCreated()">
  </app-sequence-new>
</app-modal>

<ul class="breakdown-rows sticky-headers">
  <li style="width: 2%;">
    <input type="checkbox" id="check-all-shots" />
  </li>
  <li style="width: 2%;" class="seq-border">
    <p class="rotate90">Seq.</p>
  </li>
  <li style="width: 2%;" class="scene-border">
    <p class="rotate90">Scene</p>
  </li>
  <li style="width: 2%;" class="actionB-border">
    <p class="rotate90">Action</p>
  </li>
  <li style="width: 2%;" class="shot-border">
    <p class="rotate90">Shot</p>
  </li>
  <li style="width: 2%;"></li>
  <li style="width: 8%;"></li>
  <li style="width: 20%;">Title</li>
  <li style="width: 5%;">
    <i class="bi bi-file-earmark-break-fill"></i>
  </li>
  <li style="width: 5%;">
    <i class="bi bi-person-fill"></i>
  </li>
  <li style="width: 15%;">Assets</li>
  <li style="width: 15%;">Assumptions</li>
  <li style="width: 15%;">FX</li>
  <li style="width: 5%;">Options</li>
</ul>

<app-sequence-list [productionId]="productionId"></app-sequence-list>
