// COLOURS:
$sequence-blue: #5e6a76;
$scene-blue: #3E5060;
$action-beat-blue: #2e3b45;
$shot-grey: #1A1A1A;
$lvfx-gold: #E1A32E;
$lvfx-gold-bright: #dfbc7c;
$light-grey: #818181;
$dark-grey: #0b0c0e;
$white: #fff;
$black: #000;

$green-alert: #cccc66;
$blue-alert: #8899ff;
$red-alert: #cc4444;
$purple-alert: #9966ff;
