<form (ngSubmit)="updateScene()">
  <div class="mb-3">
    <label for="editNumber" class="form-label">Number</label>
    <input type="number" class="form-control" id="editNumber" [(ngModel)]="selectedElement.number" name="number"
      required>
  </div>
  <div class="mb-3">
    <label for="editIntExt" class="form-label">INT/EXT</label>
    <select class="form-select" id="editIntExt" [(ngModel)]="selectedElement.int_ext" name="intExt" required>
      <option value="" disabled selected>Select INT/EXT</option>
      <option value="interior">INT</option>
      <option value="exterior">EXT</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="editLocation" class="form-label">Location</label>
    <input type="text" class="form-control" id="editLocation" [(ngModel)]="selectedElement.location" name="location"
      required>
  </div>
  <div class="mb-3">
    <label for="editTimeOfDay" class="form-label">Time of Day</label>
    <input type="text" class="form-control" id="editTimeOfDay" [(ngModel)]="selectedElement.day_night" name="timeOfDay">
  </div>
  <div class="mb-3">
    <label for="editLength" class="form-label">Scene Length</label>
    <input type="text" class="form-control" id="editLength" name="length" [(ngModel)]="selectedElement.length"
      placeholder="1/8">
  </div>
  <div class="modal-actions">
    <button type="button" mat-button (click)="sceneUpdated.emit()">Cancel</button>
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
