@import 'src/styles/variables';

.shot-row {
  background-color: $shot-grey;
  border-bottom: 1px solid $light-grey;
}

.storyboard-dropdown {
  color: $light-grey;
  padding: 0px;
}

.storyboard-dropdown:hover {
  color: $white;
}

.no-storyboard {
  font-size: 32px;
  margin-left: 34px;
}

.shot-asset {
  background-color: $assets;
}

.shot-fx {
  background-color: $fx;
}

.add-asset {
  background-color: $assets;
  position: relative;
}

.add-fx {
  background-color: $fx;
  position: relative;
}

.shot-assumption {
  background-color: $assumptions;
}

.add-assumption {
  background-color: $assumptions;
  position: relative;
}

.shot-element-btn {
  border-radius: 10px;
  border: none;
  font-size: 10px;
  transition: 0.3s ease;
}

.shot-element-btn:hover {
  transition: 0.3s ease;
  transform: scale(1.5);
}

.add-shot-element {
  font-size: 12px !important;
  font-weight: bold;
  height: auto !important;
  width: auto !important;
}

.add-btn:hover {
  background-color: $green-alert;
}

.version-btn:hover {
  background-color: $purple-alert;
}

.edit-btn:hover {
  background-color: $blue-alert;
  // margin: 4px 0px;
}

.delete-btn:hover {
  background-color: $red-alert;
}

.crud-dropdown-menu {
  background-color: $dark-grey;
  padding: 0px !important;
  overflow: hidden;
  border-radius: 24px 0px 0px 24px;

  button {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    color: $white;

    mat-icon {
      padding-top: 3px;
    }
  }

  button:hover {
    // background-color: $lvfx-gold;
    transition: 0.3s ease;
    transform: scale(1.1);

    mat-icon {
      transition: 0.3s ease;
    }
  }
}
