<div>

  <div *ngFor="let shot of shots">
    <ul class="breakdown-rows shot-row">
      <!-- Checkbox -->
      <li style="width: 2%;">
        <input type="checkbox" class="shot-checkbox individual-shot-checkbox"
          [class]="'check-shot-sequence-' + sequenceId + ' check-shot-scene-' + sceneId + ' check-shot-actionB-' + actionBeatId"
          [id]="'check-shot-' + shot.id" [name]="'check-shot-' + shot.id" [value]="shot.id"
          [attr.data-actionbeat-id]="actionBeatId" [attr.data-scene-id]="sceneId" [attr.data-sequence-id]="sequenceId" />
      </li>

      <!-- Collapse Trigger -->
      <a style="width: 8%;" class="table-collapse-btn" data-bs-toggle="collapse" [href]="'#collapse-shot-' + shot.id"
        role="button" aria-expanded="false" [attr.aria-controls]="'collapse-shot-' + shot.id">
        <li><h6>{{ sequencePrefix }}:{{ sceneNumber }}:{{ actionBeatNumber }}:{{ shot.number }}</h6></li>
      </a>

      <!-- Storyboard Dropdown -->
      <li style="width: 2%;" class="inline-cell">
        <div class="btn-group">
          <button class="btn storyboard-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-plus-square-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [href]="'/index.php/lvfx/form/150?shot_id=' + shot.id">Upload Media</a></li>
            <li><a class="dropdown-item" href="#" (click)="generateImagesForShot(shot.id!)">ChatGPT</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                [attr.data-bs-target]="'#promptModalShot' + shot.id">Stability AI (Text Prompt)</a></li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                [attr.data-bs-target]="'#canvasModalShot' + shot.id">Stability AI (Sketch)</a></li>
          </ul>
        </div>
      </li>

      <!-- Storyboard Preview -->
      <li
        style="width: 8%; padding: 4px;"
        class="inline-cell">
        <ng-container *ngIf="getShotStoryboards(shot.id!).length > 0; else noStoryboard">
          <button class="btn p-0 m-0" type="button" data-bs-toggle="modal"
            [attr.data-bs-target]="'#shot-' + shot.id + '-storyboard-modal'">
            <img [src]="'https://ilibrium.com/' + getShotStoryboards(shot.id!)[0].path" alt=""
              style="width: 50px; height: auto;" />
          </button>
          <!-- Modal component could go here -->
        </ng-container>
        <ng-template #noStoryboard>
          <i class="bi bi-camera2 no-storyboard"></i>
        </ng-template>
      </li>

      <!-- Shot Title -->
      <li style="width: 20%;" class="inline-cell">
        {{ shot.description }}
      </li>

      <li style="width: 5%;"></li>

      <!-- Person Icon -->
      <li style="width: 5%;"><i class="bi bi-person-fill"></i></li>

      <!-- Assets -->
      <li style="width: 15%;" class="shot-element-container">
        <div class="btn-group">
          <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="background: none; border: none;">
            <i class="bi bi-plus-circle-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button" (click)="openNewAssetModal(shot.id!)">Add New
                Asset</button></li>
            <li><button class="dropdown-item" type="button" (click)="openLinkAssetModal(shot.id!)">Link Existing
                Asset</button></li>
          </ul>
        </div>
      </li>

      <!-- Assumptions -->
      <li style="width: 15%;">
        <div class="btn-group">
          <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
            <i class="bi bi-plus-circle-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button" (click)="openNewAssumptionModal(shot.id!)">Add New Assumption</button></li>
            <li><button class="dropdown-item" type="button" (click)="openLinkAssumptionModal(shot.id!)">Link Existing Assumption</button></li>
          </ul>
        </div>
      </li>

      <!-- FX -->
      <li style="width: 15%;" class="shot-element-container">
        <div class="btn-group">
          <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="background: none; border: none;">
            <i class="bi bi-plus-circle-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button" (click)="openNewFxModal(shot.id!)">Add New
                FX</button></li>
            <li><button class="dropdown-item" type="button" (click)="openLinkFxModal(shot.id!)">Link Existing
                FX</button></li>
          </ul>
        </div>
      </li>

      <!-- Options Dropdown -->
      <li style="width: 5%;">
        <app-crud-dropdown
          [entityLabel]="'Shot'"
          [elementId]="shot.id || 0"
          (edit)="openEditModal(shot)"
          (delete)="deleteShot(shot.id!)">
        </app-crud-dropdown>
      </li>
    </ul>

  </div>

  <p *ngIf="shots.length === 0" class="text-center">No shots available for this action beat.</p>


  <!-- Edit Shot Modal -->
  <app-modal [title]="'Edit Shot'" [isOpen]="showEditModal" (close)="showEditModal = false">
    <app-shot-edit
      [shot]="selectedShot"
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      [sceneId]="sceneId"
      [actionBeatId]="actionBeatId"
      (shotUpdated)="onShotUpdated()">
    </app-shot-edit>
  </app-modal>

  <!-- New Assumption Modal -->
  <app-modal [title]="'Add New Assumption'" [isOpen]="showNewAssumptionModal" (close)="showNewAssumptionModal = false">
    <app-shot-element-new
      [elementType]="'assumption'"
      [productionId]="productionId"
      [sequenceId]="sequenceId"
      [sceneId]="sceneId"
      [actionBeatId]="actionBeatId"
      [shotId]="selectedShotId"
      (elementCreated)="onAssumptionCreated()">
    </app-shot-element-new>
  </app-modal>

  <!-- New Asset Modal -->
  <app-modal [title]="'Add New Asset'" [isOpen]="showNewAssetModal" (close)="showNewAssetModal = false">
    <app-shot-element-new
      [elementType]="'asset'"
      [productionId]="productionId"
      [sequenceId]="sequenceId"
      [sceneId]="sceneId"
      [actionBeatId]="actionBeatId"
      [shotId]="selectedShotId"
      (elementCreated)="onAssetCreated()">
    </app-shot-element-new>
  </app-modal>

  <!-- New FX Modal -->
  <app-modal [title]="'Add New FX'" [isOpen]="showNewFxModal" (close)="showNewFxModal = false">
    <app-shot-element-new
      [elementType]="'fx'"
      [productionId]="productionId"
      [sequenceId]="sequenceId"
      [sceneId]="sceneId"
      [actionBeatId]="actionBeatId"
      [shotId]="selectedShotId"
      (elementCreated)="onFxCreated()">
    </app-shot-element-new>
  </app-modal>
</div>
