<div>
  <!-- Loading spinner -->
  <!-- <div *ngIf="loading" class="text-center my-3">
    <mat-spinner diameter="40" class="mx-auto"></mat-spinner>
    <p class="mt-2">Loading scenes...</p>
  </div> -->

  <!-- Error message -->
  <!-- <div *ngIf="error" class="alert alert-danger">{{ error }}</div> -->


  <div *ngFor="let actionBeat of actionBeats">
    <ul
      class="breakdown-rows actionB-row"
      [attr.data-scene-id]="sceneId"
      [attr.data-sequence-id]="sequenceId">

      <!-- Checkbox -->
      <li style="width: 2%;">
        <input
          type="checkbox"
          class="individual-actionB-checkbox shot-checkbox"
          [class]="'check-actionB-sequence-' + sequenceId + ' check-actionB-scene-' + sceneId"
          [id]="'check-actionB-' + actionBeat.id"
          [name]="'check-actionB-' + actionBeat.id"
          [value]="actionBeat.id"
          [attr.data-actionbeat-id]="actionBeat.id"
          [attr.data-scene-id]="sceneId"
          [attr.data-sequence-id]="sequenceId"
          (change)="onActionBeatCheckboxChange($event, actionBeat.id!)" />
      </li>

      <!-- Collapse Trigger -->
      <a
        style="width: 8%;"
        class="table-collapse-btn"
        data-bs-toggle="collapse"
        [href]="'#collapse-actionB-' + actionBeat.id"
        role="button"
        aria-expanded="false"
        [attr.aria-controls]="'collapse-actionB-' + actionBeat.id">
        <li><h6>{{ sequencePrefix }}:{{ sceneNumber }}:{{ actionBeat.number }}</h6></li>
      </a>

      <!-- Type Icon -->
      <li style="width: 5%;">
        <button type="button" class="btn-transparent" [matTooltip]="actionBeat.beat_type | titlecase" matTooltipPosition="above">
          <mat-icon *ngIf="actionBeat.beat_type === 'action'">stars</mat-icon>
          <mat-icon *ngIf="actionBeat.beat_type === 'dialogue'">sms</mat-icon>
        </button>
      </li>


      <!-- Text Display -->
      <li style="width: 35%;" class="inline-cell script-text script-page">
        <p *ngIf="actionBeat.beat_type === 'action'">
          {{ actionBeat.text }}
        </p>
        <p *ngIf="actionBeat.beat_type === 'dialogue'" class="dialogue-text">
          <strong>{{ getPrimaryCharacterName(actionBeat.id) }}: </strong>
          {{ actionBeat.text }}
        </p>
      </li>

      <li style="width: 5%;">
      </li>


      <!-- Characters Dropdown -->
      <li style="width: 5%;">
        <button mat-button [matMenuTriggerFor]="characterMenu" (click)="selectedActionBeatForCharacters = actionBeat">
          <i class="bi bi-person-fill"></i>
          {{ getActionBeatCharacterCount(actionBeat.id) }}
        </button>
      </li>

      <li style="width: 5%;"></li>

      <li style="width: 20%;">
      </li>


      <li style="width: 10%;">
        <!-- version dropdown -->
        <!-- <select *ngIf="versionsMap[actionBeat.number]?.length" #versionSelect
          (change)="switchVersion(actionBeat, versionSelect.value)">
          <option *ngFor="let v of versionsMap[actionBeat.number]" [value]="v.id" [selected]="v.is_active">
            v{{ v.version_number || 1 }}
          </option>
        </select> -->

        <!-- version dropdown -->
        <button mat-button [matMenuTriggerFor]="versionMenu">
          <span class="swatch" [style.backgroundColor]="getActiveVersion(actionBeat)?.color">
          </span>
          v{{ getActiveVersion(actionBeat)?.version_number }}
        </button>

        <mat-menu #versionMenu="matMenu">
          <button mat-menu-item *ngFor="let v of versionsMap[actionBeat.number]" (click)="switchVersion(actionBeat, v.id!.toString())">
            <span class="swatch" [style.backgroundColor]="v.color"></span>
            v{{ v.version_number }}
          </button>
        </mat-menu>
      </li>

      <!-- Options Dropdown -->
      <li style="width: 5%;">
        <app-crud-dropdown
          [entityLabel]="'Action Beat'"
          [elementId]="actionBeat.id || 0"
          [addLabel]="'Add New Shot'"
          (add)="openNewShotModal(actionBeat.id)"
          (edit)="openEditModal(actionBeat)"
          (version)="openNewVersionModal(actionBeat)"
          (delete)="deleteActionBeat(actionBeat.id!)">
        </app-crud-dropdown>
      </li>
    </ul>
    <div
      class="collapse row-collapse"
      [id]="'collapse-actionB-' + actionBeat.id">
      <app-shot-list
        [actionBeatId]="actionBeat.id!"
        [actionBeatNumber]="actionBeat.number"
        [sceneId]="sceneId!"
        [sceneNumber]="sceneNumber"
        [sequenceId]="sequenceId"
        [sequencePrefix]="sequencePrefix"
        [productionId]="productionId">
      </app-shot-list>
    </div>
  </div>

  <p *ngIf="actionBeats.length === 0" class="text-center">No action beats available for this scene.</p>

  <!-- New Action Beat Modal -->
  <app-modal [title]="'Add New Action Beat'" [isOpen]="showNewActionBeatModal" (close)="closeNewActionBeatModal()">
    <app-action-beat-new
      [sceneId]="sceneId"
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      (actionBeatCreated)="onActionBeatCreated()">
    </app-action-beat-new>
  </app-modal>

  <!-- Edit Action Beat Modal -->
  <app-modal [title]="'Edit Action Beat'" [isOpen]="showEditModal" (close)="showEditModal = false">
    <app-action-beat-edit
      [actionBeat]="selectedElement"
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      [sceneId]="sceneId"
      (actionBeatUpdated)="onActionBeatUpdated()">
    </app-action-beat-edit>
  </app-modal>

  <!-- New Shot Modal -->
  <app-modal [title]="'Add New Shot'" [isOpen]="showNewShotModal" (close)="closeNewShotModal()">
    <app-shot-new
      [actionBeatId]="selectedActionBeatId"
      [sceneId]="sceneId"
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      (shotCreated)="onShotCreated()">
    </app-shot-new>
  </app-modal>

  <!-- New Action Beat Version Modal -->
  <app-modal [title]="'New Version of Action Beat ' + selectedActionBeat?.number" [isOpen]="showNewVersionModal"
    (close)="showNewVersionModal = false">
    <app-action-beat-version
      [actionBeat]="selectedActionBeat!"
      [sceneId]="sceneId"
      [sequenceId]="sequenceId"
      [productionId]="productionId"
      (versionCreated)="onVersionCreated()">
    </app-action-beat-version>
  </app-modal>

  <!-- Debug Info (remove this in production) -->
  <div *ngIf="false" class="debug-info">
    Modal is {{ showNewActionBeatModal ? 'VISIBLE' : 'HIDDEN' }}
    Scene ID: {{ sceneId }}
  </div>

  <!-- Character Menu (shared across all action beats) -->
  <mat-menu #characterMenu="matMenu">
    <div mat-menu-item *ngFor="let c of getActionBeatCharacters(selectedActionBeatForCharacters?.id)" disabled>
      {{ c.full_name }}
    </div>
    <div mat-menu-item *ngIf="getActionBeatCharacterCount(selectedActionBeatForCharacters?.id) === 0" disabled>
      <em>No characters</em>
    </div>
  </mat-menu>
</div>
