<div class="dropdown">
  <button class="crud-dropdown-btn" type="button" [id]="'crud-' + elementId + '-options'" data-bs-toggle="dropdown"
    aria-expanded="false" [attr.aria-labelledby]="'crud-' + elementId + '-options'">
    <mat-icon>more_horiz</mat-icon>
  </button>

  <ul class="dropdown-menu crud-dropdown-menu" [attr.aria-labelledby]="'crud-' + elementId + '-options'">
    <li *ngIf="showAdd">
      <button class="dropdown-item add-btn" (click)="add.emit()">
        <mat-icon>add</mat-icon>
        {{ addLabel }}
      </button>
    </li>
    <li *ngIf="showEdit">
      <button class="dropdown-item edit-btn" (click)="edit.emit()">
        <mat-icon>edit</mat-icon>
        Edit {{ entityLabel }}
      </button>
    </li>
    <li *ngIf="showVersion">
      <button class="dropdown-item version-btn" (click)="version.emit()">
        <mat-icon>file_copy</mat-icon> New {{ entityLabel }} Version
      </button>
    </li>
    <li *ngIf="showDelete">
      <button class="dropdown-item delete-btn" (click)="delete.emit()">
        <mat-icon>delete</mat-icon>
        Delete {{ entityLabel }}
      </button>
    </li>
  </ul>
</div>
