<div *ngIf="loading" class="text-center my-3">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<div *ngIf="sequences.length > 0" >
  <div
    *ngFor="let sequence of sequences"
      class="sequence sequence-container filteringList"
      [id]="'sequence-' + sequence.id">
    <ul class="breakdown-rows sequence-row">
      <li style="width: 2%;">
        <input type="checkbox"
              class="shot-checkbox individual-seq-checkbox"
              [id]="'check-sequence-' + sequence.id"
              [name]="'check-sequence-' + sequence.id"
              [value]="sequence.id">
      </li>
      <a style="width: 8%;"
        class="table-collapse-btn"
        data-bs-toggle="collapse"
        [href]="'#collapse-seq-' + sequence.id"
        role="button"
        aria-expanded="false"
        [attr.aria-controls]="'collapse-seq-' + sequence.id">
        <li style="width: 100%;">
          {{ sequence.prefix }}
        </li>
      </a>
      <li style="width: 2%;"></li>
      <li style="width: 8%;"></li>
      <li style="width: 20%;">{{ sequence.name }}</li>
      <li style="width: 5%;"></li>
      <li style="width: 5%;"></li>
      <li style="width: 15%;"></li>
      <li style="width: 15%;"></li>
      <li style="width: 15%;"></li>
      <li style="width: 5%;">
        <app-crud-dropdown
          [entityLabel]="'Sequence'"
          [elementId]="sequence.id || 0"
          [addLabel]="'Add New Scene'"
          (add)="openNewSceneModal(sequence.id!)"
          (edit)="openEditModal(sequence)"
          (delete)="deleteSequence(sequence.id!)">
        </app-crud-dropdown>
      </li>
    </ul>
    <div [id]="'collapse-seq-' + sequence.id" class="collapse row-collapse">
      <app-scene-list
        [sequenceId]="sequence.id!"
        [sequencePrefix]="sequence.prefix"
        [productionId]="productionId">
      </app-scene-list>
    </div>

  </div>
</div>

<!-- New Scene Modal -->
<app-modal [title]="'Add New Scene'" [isOpen]="showNewSceneModal" (close)="closeNewSceneModal()">
  <app-scene-new
    [sequenceId]="sequenceId"
    [productionId]="productionId"
    (sceneCreated)="onSceneCreated()">
  </app-scene-new>
</app-modal>

<p *ngIf="sequences.length === 0 && !loading" class="text-center">No sequences available.</p>
<!-- <form #sequenceForm="ngForm" (ngSubmit)="createSequence()">
  <input type="text" [(ngModel)]="newSequence.name" name="name" required placeholder="Sequence Name">
  <input type="number" [(ngModel)]="newSequence.number" name="number" required placeholder="Number">
  <button type="submit" mat-raised-button color="primary">Add Sequence</button>
</form> -->
